* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --color-white: #ffffff;
  --color-red: #e63636;
  --color-blue: #2c97d0;
  --color-navyBlue: #2c3dd0;
  --color-dark1: #181818;
  --color-dark2: #1e1e1e;
  --color-purple1: #9333ff;
  --color-purple2: #4b0082;
  --color-green: #2fa524;
}

body {
  background-color: var(--color-navyBlue);
}

header {
  display: flex;
  justify-content: center;
  height: 120px;
}

.container {
  display: flex;
  width: 100%;
  background-color: var(--color-blue);
  justify-content: space-around;
}

.menu {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.menu-button {
  height: 120px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

button {
    background-color: var(--color-green);
    padding: 15px;
    font-size: 18px;
    color: var(--color-white);
    border-radius: 10px;
    border: none;
    text-transform: uppercase;
}

button:hover{
    color: var(--color-navyBlue)
}

.menu-register li {
  list-style: none;
}
img {
  width: 70px;
  height: 60px;
}

.logo {
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

.text {
  padding-left: 5px;
  font-size: 20px;
  color: var(--color-white);
}

.text02 {
  font-size: 10px;
  text-align: center;
}

nav ul,
nav li {
  list-style: none;
}

nav ul {
  display: flex;
}

nav a {
  display: block;
  padding: 15px;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--color-white);
  font-size: 18px;
}

nav a:hover {
  color: var(--color-navyBlue);
}

nav ul li ul li {
    display: none;
}